<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Savvy</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <%- include('partials/nav.ejs') %>
  <div class="container">

  </div>


  <div class="row products">


    <%products.forEach(product => {%>

    <h1>Product Added to Cart</h1>
    <ul>
      <li><strong>Product:</strong> <%= product.name %></li>
      <li><strong>Price:</strong> <%= product.price %></li>
      <li><strong>Quantity:</strong> <%= quantity %></li>
    </ul>
    <h2>Order Summary</h2>
    <ul>
      <li><strong>Total Cost:</strong> <%= totalCost %></li>
      <li><strong>Shipping:</strong> <%= shipping %></li>
      <li><strong>Order History:</strong> <%= orderHistory %></li>
    </ul>

    <% }) %>

  </div>
  </div>


</body>

</html>