<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/skeleton.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <script src="" async defer></script>
       
        <%- include('../partials/nav.ejs') %>
        <div class="container">
            <div class="row prodFormBox">
                <div class="prodDetails six columns">
                    <main>
                        <h1>Edit <%= product.title %></h1>
                        <form action="/products/<%= product._id%>?_method=PUT" method="POST">
                            <p>
                                <input
                                    type="text"
                                    name="title"
                                    placeholder="Title"
                                    value="<%= product.title %>"
                                />
                            </p>
                            <p>
                                <label for="shortdes">Short Description</label>
                                <input type="text" name='shortdes' value ="<%= product.shortdes %>">
                                <label for="longdes">Long Description</label>
                                <input type="text" name='longdes' value ="<%= product.longdes %>">
                            </p>
                            <input type="submit" value="Update product" />
                           
                            
                        </form>
                    </main>
                    </div>
                </div>
            </div>

    </body>
</html>