<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/skeleton.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <script src="" async defer></script>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <%- include('../partials/nav.ejs') %>
        <div class="container">
            <div class="row prodFormBox">
                <div class="prodDetails six columns">
                    <h3>Edit this product</h3>
                            <form id="new-form" action="/products/<%=product._id%>" method="POST">
                                <label for="title">Title</label>
                                <input type="text" name='title' value ="<%= product.title %>">
                              
                              
                                <!-- <label for="category">Category</label>
                                <select name ='category'><br> -->

                                <label for="shortdes">Short Description</label>
                                <textarea type="text" name="body" placeholder="shortdes">
                                    <%= product.shortdes %></textarea>
                                                                                            
                                <label for="longdes">Long Description</label>
                                <textarea type="text" name="body" placeholder="longdes">
                                    <%= product.longdes %></textarea>

                            
				<input type="submit" value="Update Product" />
                                <button>Cancel</button>
                            </form> 
                        
                    </div>
                </div>
            </div>

    </body>
</html>